html {
    background: beige;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 50px;
    padding: 25px;
    color: black;
    border-top: 10px solid black;
    background: beige;
}

h1 {
    font-size: 4em;
    margin: 0;
}

h2 {
    font-size: 3em;
    margin: 5px;
}

h3 {
    font-size: 2em;
    margin: 2.5px;
}

p {
    line-height: 1em;
}

a[href='index.html'] {
    color: forestgreen;
}

a[href='about.html'] {
    color: forestgreen;
}

a[href='contact.html'] {
    color: forestgreen;
}

#blog {
    border-top: 2px dashed black;
}

.blog-post {
    border-bottom: 1px dashed black;
}

#blog-sub-box {
    margin: 25px;
    padding: 10px;
    border-bottom: 5px solid black;
}

#contact {
    margin: 30px;
    padding: 15px;
    border-bottom: 5px solid black;
}